<?xml version="1.0"?>
<config>
  <modules>
    <Hackathon_Predictionio>
      <version>0.1.0</version>
    </Hackathon_Predictionio>
  </modules>
<!--   <frontend>
    <routers>
      <review>
        <args>
          <modules>
            <Richdynamix_SimilarProducts before="Mage_Review_ProductController">
              Richdynamix_SimilarProducts_Frontend_Review_ProductController
            </Richdynamix_SimilarProducts>
          </modules>
        </args>
      </review>
    </routers>
  </frontend> -->
  <global>
    <helpers>
      <predictionio>
        <class>Hackathon_Predictionio_Helper</class>
      </predictionio>
    </helpers>
    <blocks>
      <predictionio>
        <class>Hackathon_Predictionio_Block</class>
      </predictionio>
      <catalog>
        <rewrite>
          <product_list_upsell>Hackathon_Predictionio_Block_Catalog_Product_List_Upsell</product_list_upsell>
        </rewrite>
      </catalog>
<!-- Disable easytab 
      <easytabs>
        <rewrite>
          <tab_product_upsell>Hackathon_Predictionio_Block_Tab_Product_Upsell</tab_product_upsell>
        </rewrite>
      </easytabs>
 -->


    </blocks>
    
    <models>
      <predictionio>
        <class>Hackathon_Predictionio_Model</class>
        <resourceModel>predictionio_mysql4</resourceModel>
      </predictionio>
    </models>
    
    <events>

      <!-- Add Customer once they Login and process any guest actions in the session -->
      <customer_login>
        <observers>
          <customer_login_handler>
            <type>model</type>
            <class>predictionio/observer</class>
            <method>addCustomer</method>
          </customer_login_handler>
        </observers>
      </customer_login>      
      
      <!-- Log the product view to customer -->
      <catalog_controller_product_view>
        <observers>
          <catalog_controller_product_view_handler>
            <type>model</type>
            <class>predictionio/observer</class>
            <method>productView</method>
          </catalog_controller_product_view_handler>
        </observers>
      </catalog_controller_product_view>

      <!-- Log product review and rating with PredictionIO -->
<!-- DISABLED, we dont save reviews, unsupported
      <review_save_after>
        <observers>
          <review_save_after_handler>
            <type>model</type>
            <class>predictionio/observer</class>
            <method>productRate</method> 
          </review_save_after_handler>
        </observers>
      </review_save_after>
-->
      <!-- Log product conversion for each product in order -->
      <checkout_type_onepage_save_order_after>
          <observers>
              <similarproducts_save_order_observer>
                  <class>predictionio/observer</class>
                  <method>productSale</method>
              </similarproducts_save_order_observer>
          </observers>
      </checkout_type_onepage_save_order_after>

    </events>
  </global>
</config>
